<a href="https://colab.research.google.com/github/Waseekk/ASDS/blob/main/Assignment_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a Python program to count the number of characters (character frequency) in a string.
string=input('Enter a string:')
frequency={}
for char in string:
  if char in frequency:
    frequency[char]+=1
  else:
    frequency[char]=1

print(frequency)

Enter a string:google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
# Write a Python program to check if a given key already exists in a dictionary.

my_dict = {'Name': 'JU', 'Department': 'Statistic', 'Program': 'Masters', 'Batch': 9}

key = 'Waseek'

if key in my_dict:
    print(f"The key '{key}' exists in the dictionary.")
else:
    print(f"The key '{key}' does not exist in the dictionary.")

The key 'Waseek' does not exist in the dictionary.

In [ ]:
# Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers.

num_string = input("Enter comma-separated numbers: ")
num_list = num_string.split(",")
num_tuple = tuple(num_list)

print("List: ", num_list)
print("Tuple: ", num_tuple)

Enter comma-separated numbers: 1,5,7,23
List:  ['1', '5', '7', '23']
Tuple:  ('1', '5', '7', '23')

In [ ]:
# Write a Python program to calculate the number of days between two dates.
from datetime import datetime

date1_i=input('Enter the first date(YYYY-MM-DD)')
date2_i=input('Enter the second date(YYYY-MM-DD)')

date1 = datetime.strptime(date1_i, "%Y-%m-%d")
date2 = datetime.strptime(date2_i, "%Y-%m-%d")

days= date1-date2
print(days)

Enter the first date(YYYY-MM-DD)2023-03-28
Enter the second date(YYYY-MM-DD)2021-06-30
636 days, 0:00:00

In [27]:
#  Write a Python program to calculate the number of days between two dates.(more user friendly)
import datetime

date1_i = input('Enter the first date (YYYY,MM,DD): ')
date2_i = input('Enter the second date (YYYY,MM,DD): ')

date1 = datetime.date(*map(int, date1_i.split(',')))
date2 = datetime.date(*map(int, date2_i.split(',')))

days = abs(date1 - date2).days
print(f'The number of days between {date1} and {date2} is {days} days.')

Enter the first date (YYYY,MM,DD): 2023,5,2
Enter the second date (YYYY,MM,DD): 2222,1,2
The number of days between 2023-05-02 and 2222-01-02 is 72563 days.

In [ ]:
# Write a Python program to solve (x + y) * (x + y).
x = float(input("Enter the value of x: "))
y = float(input("Enter the value of y: "))

result = (x + y) ** 2
print("Result:", result)

Enter the value of x: 12
Enter the value of y: 2
Result: 196.0

In [5]:
 def future_value(principal_amount,interest_rate,num_years):
   future_value=principal_amount*(1+interest_rate/100)**num_years
   return future_value

principal_amount = 10000
interest_rate = 3.5
num_years = 7

fv = future_value(principal_amount, interest_rate, num_years)

print(f"The future value of ${principal_amount} at {interest_rate}% interest for {num_years} years is ${fv:.2f}")

The future value of $10000 at 3.5% interest for 7 years is $12722.79

In [11]:
#Write a Python program that removes duplicate elements from a given array of numbers so that each element appears only once and
#returns the new length of the array.
def remove_duplicates(arr):
    """
    Removes duplicate elements from an array of numbers and returns the new list and the number of unique elements
    """
    unique_set = set(arr)
    unique_arr = list(unique_set)
    return unique_arr, len(unique_arr)

# Example usage
nums = [1, 2, 3, 4, 5, 3, 4, 6, 7, 8, 5, 'apple', 'apple']
unique_nums, num_unique = remove_duplicates(nums)

print(f"The new list with duplicates removed is {unique_nums}")
print(f"The number of unique elements is {num_unique}")

The new list with duplicates removed is [1, 2, 3, 4, 5, 6, 7, 8, 'apple']
The number of unique elements is 9

In [26]:
# Write a Python program to sort (ascending and descending) a dictionary by key value.
d = {'banana': 3, 'apple': 2, 'pear': 4, 'orange': 1}

sorted_dict = sorted(d.items())

sorted_dict_desc = (sorted(d.items(), reverse=True))

print("Ascending order:", sorted_dict)
print("Descending order:", sorted_dict_desc)

Ascending order: [('apple', 2), ('banana', 3), ('orange', 1), ('pear', 4)]
Descending order: [('pear', 4), ('orange', 1), ('banana', 3), ('apple', 2)]

In [21]:
#9. Write a Python program to add key to a dictionary. Go to the editor
d = {0: 10, 1: 20}

key_input = input("Enter a key: ")
value_input = input("Enter a value: ")

try:
    key = int(key_input)
except ValueError:
    key = key_input
    
try:
    value = int(value_input)
except ValueError:
    value = value_input

d[key] = value
print(d)

Enter a key: e
Enter a value: 1
{0: 10, 1: 20, 'e': 1}

In [25]:
#Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
import numpy as np
import pandas as pd
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}


labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data, index=labels)

print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes